* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
li {
	display: inline-block;
	width: 50px;
	float: left;
	height: 60px;
	margin: 1px;
	text-align: center;
}
#wrapper {
	width: 1015px;
	margin: 0 auto;
}
#bottom-rows {
	margin-top: 25px;
}
.element {
	font-weight: bold;
}
.weight {
	font-size: .7em;
}
.s-block {
	background-color: blue;
}
.d-block {
	background-color: red;
}
.p-block {
	background-color: orange;
}
.f-block {
	background-color: green;
}
.space {
	margin-left: 21px;
}
.left {
	float: left;
	width: 175px;
	margin-top: 25px;
}
.red {
	color: red;
}
.Lu {
	width: 18px;
}
.Lr {
	width: 18px;
}
.clear {
	clear: both;
}

